
.row {
  background:rgb(76, 77, 79);
  display: flex;
  justify-content:left;
  margin: 30px 40px 30px 40px;
  cursor: pointer;
  letter-spacing: 2px;
}

.id {
  width: 40px;
  margin-right: 20px;
  color: rgb(115, 115, 115);
  cursor: pointer;
  letter-spacing: normal;
}

.marked {
  background-color: rgb(115, 120, 130);
}

.word {
  text-align: left;
}

