.level {
  width: 120px;
  display: flex;
  justify-content: space-around;

}

.levelFild {
  width: 40px;
  height: 13px;
  background: rgb(123, 121, 121);
  color: rgb(215, 215, 215);
  text-align: center;
}