.translator {
  background: rgb(76, 77, 79);
  border: 2px groove rgb(108, 108, 108);
  color: rgb(131, 131, 131);
  margin:  0px 0px 5px 0px;
  padding-top: 3px;
  height: 20px;
  text-align: center;
}